@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="introduction">
        <div class="container text-white">
            <h1>Bem Vindo a Intelectah</h1>
            <blockquote>
                <p >"soluções em saúde na jornada de agenamentos & autorizações"</p>
            </blockquote>
        </div>
    </section>
    <p>Confira nossos <a asp-controller="Appointments" asp-for="Index">agendamentos</a> agora mesmo.</p>
</div>
